<section class="hero is-black is-medium">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">

        <div class="nav-left">
			<div class="nav-item">
				<h1 class="title">
					ZUP Test
				</h1>
			</div>
			<a class="nav-item">
				Shot
			</a>
        </div>

        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>

        <div class="nav-right nav-menu">
          <a class="nav-item">
            <div class="field">
              <p class="control has-icon">
                <input class="input" type="text">
                <span class="icon is-small">
                  <i class="fa fa-search"></i>
                </span>
              </p>
            </div>
          </a>
        </div>
    </header>
  </div>

<section class="section has-text-centered">
  <router-outlet></router-outlet>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>ZUP Test</strong> by <a href="https://www.linkedin.com/in/jeangoncalves/">Jean Gonçalves</a>. 
      </p>
      <p>
        <a class="icon" href="https://github.com/JeanGoncalves/">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>