<div class="container">

    <div class="card" style="width: 30rem">
        <div class="card-header">
            <div class="card-header-title">{{shot.title}}</div>
            <label>
            {{shot.description}}
            </label>
        </div>
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="{{shot.images.hidpi}}" alt="Image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                <img src="{{shot.user.avatar_url}}" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{shot.user.name}}</p>
                <p class="subtitle is-6">@{{shot.user.username}}</p>
            </div>
            </div>
        </div>
    </div>
    
</div>