<div class="card"  style="width: 10rem;">
    <div class="card-image">
        <figure class="image is-4by3">
        <img [src]="shot.images.teaser" alt="Image">
        </figure>
    </div>
    <div class="card-content">
        <nav class="level">
            <div class="level-left">
                <!--<p>Name of Image</p>-->
            </div>
            <div class="level-right">
                <p>
                    <a class="icon">
                        <i class="fa fa-thumbs-up"></i>
                    </a>
                </p>
            </div>
        </nav>
    </div>
</div>