<div class="container">

    <nav class="nav">
      <div class="container">
        <div class="nav-left">
        </div>
        <span class="nav-toggle">
        </span>
        <div class="nav-right nav-menu">

          <!--Buttons-->
          <div class="field has-addons">
            <p class="control">
              <a class="button" (click)="changeSize(false)">
                <span class="icon is-small" name="btnSmall">
                  <i class="fa fa-th"></i>
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button" (click)="changeSize(true)">
                <span class="icon is-small" name="btnLarge">
                  <i class="fa fa-th-large"></i>
                </span>
              </a>
            </p>
          </div>
          
          <!--Search-->
          <div class="field has-addons">
            <p class="control">
              <input class="input" type="text" name="search" #searchInput placeholder="Buscar shot...">
            </p>
            <p class="control">
              <a class="button is-info" (click)="search(searchInput.value)">
                Buscar
              </a>
            </p>
          </div>
        </div>
      </div>
    </nav>

    <div class="container" *ngIf="find !== ''">
      <div class="notification">
        Resultado da busca por <strong>"{{ find }}"</strong>
      </div>
    </div>

    <div class="columns is-multiline">
        <div [ngClass]="columnClass" *ngFor="let shot of shots">
            <a [routerLink]="['/shots/', shot.id]">
              <shot-item [shotItem]="shot"></shot-item>
            </a>
        </div>
    </div>

</div>