<div class="container">
  
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field has-addons has-addons-left">
            <p class="control">
              <a class="button" (click)="changeSize(false)">
                <span class="icon is-small" name="btnSmall">
                  <i class="fa fa-th"></i>
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button" (click)="changeSize(true)">
                <span class="icon is-small" name="btnLarge">
                  <i class="fa fa-th-large"></i>
                </span>
              </a>
            </p>
        </div>
        <div class="field has-addons has-addons-right">
          <p class="control has-icon">
            <input class="input" type="text">
            <span class="icon is-small">
              <i class="fa fa-search"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
  
    <div class="columns is-multiline">
        <div [ngClass]="columnClass" *ngFor="let shot of shots">
            <a [routerLink]="['/shots/', shot.id]">
              <shot-item [shotItem]="shot"></shot-item>
            </a>
        </div>
    </div>
    
    <section class="section">
      <button [ngClass]="btnMoreClass" (click)="getMore()">
        Carregar mais
      </button>
    </section>
</div>